<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Dashboard</title>
    <link rel="stylesheet" href="../static/salesdashboard.css">
</head>
<body>
    <div class="row">
        <div class="col-3">
          <div class="sidebar">
          <img src="../static/images/nyondo logo.png" alt="Nyondo Logo" width="100" />
          <a href="{% url 'dashboard' %}">Dashboard</a>
          <a href="{% url 'salesdashboard' %}">Sales Dashboard</a>
          <a href="{% url 'sales' %}">sales</a>
          <a href="{% url 'salesregistration' %}">New Sales</a>
          <a href="{% url 'stockregistration' %}">Stock Registration</a>
          <a href="{% url 'creditsales' %}">Credit Scheme</a>
          <a href="{% url 'index' %}">Log Out</a>
          </div>
        </div>
    </div>
</body>
</html>